spring:
  application:
    name: orcamento
  datasource:
    url: jdbc:postgresql://localhost:5432/orcamento_db
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger
